/* custom_admin.css */
.custom-question {
    font-weight: bold;
    font-size: 10px;
    color: #333;
}

.custom-answer {
    margin-left: 20px;
}

.custom-answer input {
    margin-right: 10px;
}

.custom-submit {
    background-color: #af954c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
}

.custom-submit:hover {
    background-color: #45a049;
}
