

/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #474743; /* Light gray background */
    color: #333; /* Dark gray text */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #252423; /* Orange color for headings */
    margin-bottom: 0.5em;
}

a {
    color: #ff8c00; /* Orange links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container Styles */
.quiz-container, .result-container, .quiz-list-container, .quiz-detail-container, .add-quiz-container, .add-question-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #171515; /* White background for containers */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s; /* Fade in effect */
}

/* Button Styles */
.btn-submit, button {
    background-color: #ff8c00; /* Orange background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Motion effects */
}

.btn-submit:hover, button:hover {
    background-color: #e07b00; /* Darker orange on hover */
    transform: scale(1.05); /* Slight scale up effect */
}

/* Flexbox Styles */
.quiz-details, .options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.question {
    border: 1px solid #eadecb; /* Light gray border */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s; /* Motion effect */
}

.question:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow on hover */
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .quiz-container, .result-container, .quiz-list-container, .quiz-detail-container, .add-quiz-container, .add-question-container {
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }
}


/* Styling for the navigation bar */
.navbar {
    background-color: #e6d733;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
    display: inline;
    padding: 14px 16px;
}

.navbar ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
