{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.name }} - Quiz Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="quiz-detail-container">
        <h1>Details for {{ quiz.name }}</h1>
        <p>Category: {{ quiz.category.name }}</p>
        <p>Number of Questions: {{ quiz.number_of_questions }}</p>
        <p>Time Limit: {{ quiz.time }} minutes</p>
        <p>Difficulty: {{ quiz.difficulty|title }}</p>

        <h2>Questions:</h2>
        <ul>
            {% for question in questions %}
                <li>{{ question.text }}</li>
            {% empty %}
                <li>No questions available for this quiz.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'add_question' quiz.id %}">Add Question</a>
        <a href="{% url 'quiz_list' %}">Back to Quiz List</a>
    </div>
</body>
</html>
